// font stack
$font-stack-headings: 'Source Sans Pro', Helvetica, sans-serif;
$font-stack-body: 'Source Sans Pro', Helvetica, sans-serif;

// colors
$color-primary: #01bfb0;
$color-primary-dark: #00afa0;
$color-secondary: #174079;
$color-secondary-dark: #133668;
$color-tertiary: #ea526f;
$color-tertiary-dark: #d64a65;
$color-dark-grey-1: #292929;
$color-dark-grey-2: #3e3e3e;
$color-light-grey-1: #696969;
$color-light-grey-2: #939393;
$color-light-grey-3: #c2c2c2;
$color-white: #ffffff;
$color-off-white-1: rgba(255, 255, 255, 0.95);
$color-off-white-2: rgba(255, 255, 255, 0.74);

// line height
$line-height-small: 1.5;
$line-height-medium: 1.7;
$line-height-large: 2;

// font weight
$weight-regular: 400;
$weight-semibold: 600;
$weight-bold: 700;

// spacing scale
$space-3xs: 0.2rem;
$space-2xs: 0.4rem;
$space-xs: 0.8rem;
$space-sm: 1.2rem;
$space-md: 1.6rem;
$space-lg: 2.4rem;
$space-xl: 3.2rem;
$space-2xl: 4.8rem;
$space-3xl: 6.4rem;
$space-4xl: 9.6rem;
$space-5xl: 12.8rem;
$space-6xl: 19.2rem;
$space-7xl: 25.6rem;

// type scale
$text-2xs: 1rem;
$text-xs: 1.2rem;
$text-sm: 1.4rem;
$text-base: 1.6rem;
$text-lg: 1.8rem;
$text-xl: 2rem;
$text-2xl: 2.4rem;
$text-3xl: 3rem;
$text-4xl: 3.6rem;
$text-5xl: 4.8rem;
$text-6xl: 6rem;
$text-7xl: 7.2rem;
