.basket-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: relative;
}

.basket-item__close {
  position: absolute;
  top: 0rem;
  right: 0.1rem;
  font-size: $text-base !important;
  line-height: 1 !important;
  height: unset !important;
  color: $color-light-grey-1;
  cursor: pointer;
}

.basket-item__img {
  width: 10rem;
  margin-right: $space-md;
}

.basket-item__info {
  font-size: $text-sm;
  color: $color-dark-grey-1;
  flex: 1;
}

.basket-item__title {
  font-size: $text-sm;
  color: $color-dark-grey-1;
  margin-bottom: $space-xs;
  line-height: 1.3;
}
