.basket-icon {
  color: $color-white;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    color: $color-off-white-1;
  }

  @media only screen and (max-width: 800px) {
    padding-right: $space-sm;
  }
}

.basket {
  position: absolute;
  height: 40rem;
  width: 32rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background-color: white;
  color: $color-dark-grey-1;
  padding: $space-lg $space-md;
  right: 50%;
  top: $space-3xl + 0.6rem;
  z-index: 300;
  box-shadow: 0 0.063em 0.313em 0 rgba(0, 0, 0, 0.07),
    0 0.438em 1.063em 0 rgba(0, 0, 0, 0.1);
  transform: translateX(50%);

  @media only screen and (max-width: 1540px) {
    right: -$space-sm;
    transform: translateX(0);
  }

  @media only screen and (max-width: 800px) {
    right: 0;
  }
}

// basket triangle
.basket::after {
  content: '';
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #ffffff;
  top: -1.2rem;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  border-radius: 0.3rem;

  @media only screen and (max-width: 1540px) {
    left: unset;
    right: -0.6rem;
    transform: translateX(0%) rotate(45);
  }
}

.basket__list {
  width: 100%;
  list-style: none;
  flex: 1;
  overflow-x: auto;
  margin-bottom: $space-md;
}

.basket__item {
  width: 100%;
  margin-bottom: $space-md;
}

.basket__total {
  margin-left: auto;
  display: flex;
  font-weight: $weight-semibold;
  margin-bottom: $space-md;
  font-size: $text-sm;
  color: $color-dark-grey-2;
}

.basket__total-title {
  margin-right: $space-xs;
}
