.footer {
  @include container('lg');
  padding-top: $space-lg;
  padding-bottom: $space-md;
  border-top: 0.1rem solid $color-light-grey-3;

  @media only screen and (max-width: 1000px) {
    padding-top: $space-xl;
  }

  &__nav {
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: unset;

    @media only screen and (max-width: 1000px) {
      flex-direction: column-reverse;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: 1000px) {
      max-width: 80%;
      margin: 0 auto;
      margin-bottom: $space-md;

      transform: translateX(-0.7rem);
    }

    @media only screen and (max-width: 700px) {
      max-width: 90%;
    }
  }

  &__item {
    padding: unset;

    &:not(:last-child) {
      margin-right: $space-3xl !important;

      @media only screen and (max-width: 700px) {
        margin-right: $space-2xl !important;
      }

      @media only screen and (max-width: 500px) {
        margin-right: $space-xl !important;
      }
    }
  }

  &__link {
    display: block;
    color: $color-light-grey-1;
    padding: 0;
    line-height: 1;
    font-size: $text-sm;
    transition: 0.3s color ease-out;

    &:hover {
      background: unset;
      color: $color-dark-grey-2;
    }
  }

  &__copyright {
    text-align: center;
  }
}
