.footer {
  @include container('lg');
  margin-bottom: $space-md;
  border-top: 0.1rem solid $color-light-grey-3;
}

.footer__nav {
  background-color: transparent;
  box-shadow: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: unset;

  @media only screen and (max-width: 1000px) {
    flex-direction: column-reverse;
  }
}

.footer__list {
  display: flex;
  justify-content: space-between;

  padding: $space-xl 0;

  @media only screen and (max-width: 1000px) {
    max-width: 80%;
    margin: 0 auto;
    transform: translateX(-0.7rem);
  }

  @media only screen and (max-width: 700px) {
    max-width: 90%;
  }
}

.footer__item {
  padding: unset;
}

.footer__item:not(:last-child) {
  margin-right: $space-3xl !important;

  @media only screen and (max-width: 700px) {
    margin-right: $space-2xl !important;
  }
}

.footer__link {
  display: block;
  color: $color-light-grey-1;
  padding: 0;
  line-height: 1;
  font-size: $text-sm;
  transition: 0.3s color ease-out;

  &:hover {
    background: unset;
    color: $color-dark-grey-2;
  }
}

.footer__logo {
  fill: $color-primary;
  margin-bottom: $space-md;
}

.footer__copyright {
  text-align: center;
}
