.section {
  padding: 18rem 0;

  &__border {
    position: absolute;
    width: 102%;
    bottom: -0.1rem;
    transform: translateX(-1rem);
    display: block;
  }
}

// Home ------------------------------

.section--features {
  text-align: center;
  @include container('md');

  .heading-2 {
    margin-bottom: $space-4xl;
  }
}

.section--info {
  position: relative;
  overflow: hidden;
  @include bg-gradient();

  .section__container {
    display: flex;
    align-items: center;
    @include container('md');

    @media only screen and (max-width: 1000px) {
      display: block;
    }
  }

  .section__img {
    @media only screen and (max-width: 1000px) {
      display: none;
    }
  }

  .heading-2 {
    margin-bottom: $space-md;
    color: $color-off-white-1;
  }

  .section__text-box {
    margin-left: $space-4xl;
    @media only screen and (max-width: 1000px) {
      margin-left: 0;
      width: 90%;
    }
  }

  p {
    color: $color-off-white-1;
    margin-bottom: $space-xl;
  }
}

.section--cta {
  @include container('sm');
  text-align: center;

  .section__title {
    margin-bottom: $space-md;
  }

  p {
    margin-bottom: $space-2xl;
  }
}
