html {
  // 1rem = 10px
  font-size: 62.5%;
  box-sizing: border-box;

  @media only screen and (max-width: 500px) {
    font-size: 56.25%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

input {
  font-family: inherit;
  color: inherit;
}
