body {
  font-family: $font-stack-body;
  font-weight: $weight-regular;
  font-size: $text-base;
  line-height: $line-height-small;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  color: $color-light-grey-1;
  line-height: 1.7;
  font-size: $text-base;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-stack-headings;
  line-height: 1;
  color: $color-dark-grey-1;
  font-weight: $weight-bold;
  margin: 0;
}

.heading-1 {
  font-size: $text-5xl;
}

.heading-2 {
  font-size: $text-3xl;
}

.heading-3 {
  font-size: $text-xl;
}

.heading-4 {
  font-size: $text-lg;
  font-weight: $weight-semibold;
}
