.waves-effect.waves-primary .waves-ripple {
  background-color: #01bfb0;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 56.25%;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

p {
  color: #696969;
  line-height: 1.7;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  line-height: 1;
  color: #292929;
  font-weight: 700;
  margin: 0;
}

.heading-1 {
  font-size: 4.8rem;
}

.heading-2 {
  font-size: 3rem;
}

.heading-3 {
  font-size: 2rem;
}

.heading-4 {
  font-size: 1.8rem;
  font-weight: 600;
}

.button {
  font-size: 1.4rem;
  padding: 1.2rem 3.2rem;
  border-radius: 10rem;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  font-weight: 600;
  font-family: inherit;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button--primary {
  background-color: #01bfb0;
  color: #ffffff;
}

.button--primary:hover {
  background-color: #00afa0;
}

.button--secondary {
  background-color: #174079;
  color: #ffffff;
}

.button--secondary:hover {
  background-color: #133668;
}

.button--tertiary {
  background-color: #ea526f;
  color: #ffffff;
}

.button--tertiary:hover {
  background-color: #d64a65;
}

.button--large {
  font-size: 1.6rem;
  padding: 1.6rem 4.8rem;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
}

.logo__icon {
  margin-right: 0.8rem;
  font-size: 32px;
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
}

.logo__text {
  font-weight: 700;
  font-size: 1.8rem;
}

.basket-icon {
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.basket-icon:hover {
  color: rgba(255, 255, 255, 0.95);
}

.basket {
  position: absolute;
  height: 40rem;
  width: 27.5rem;
  border-radius: 1rem;
  background-color: white;
  right: 50%;
  top: 6.4rem;
  z-index: 300;
  -webkit-box-shadow: 0 0.063em 0.313em 0 rgba(0, 0, 0, 0.07), 0 0.438em 1.063em 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.063em 0.313em 0 rgba(0, 0, 0, 0.07), 0 0.438em 1.063em 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.feature-list {
  width: 100%;
  margin: 0 auto;
  max-width: 110rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1240px) {
  .feature-list {
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .feature-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 1000px) {
  .feature-list__item:not(:last-child) {
    margin-bottom: 9.6rem;
  }
}

.feature {
  max-width: 30rem;
}

@media only screen and (max-width: 1000px) {
  .feature {
    max-width: 33vw;
  }
}

@media only screen and (max-width: 700px) {
  .feature {
    max-width: 50vw;
  }
}

.feature__img {
  margin-right: auto;
  display: block;
  margin-bottom: 4.8rem;
  max-height: 20rem;
}

@media only screen and (max-width: 1000px) {
  .feature__img {
    max-height: unset;
    width: 100%;
  }
}

.feature__title {
  margin-bottom: 2.4rem;
  text-align: left;
}

@media only screen and (max-width: 1000px) {
  .feature__title {
    text-align: center;
  }
}

.feature__text {
  text-align: left;
  line-height: 1.7;
}

@media only screen and (max-width: 1000px) {
  .feature__text {
    text-align: center;
  }
}

.sidenav__item.active {
  background-color: #01bfb0 !important;
}

.sidenav__item.active .sidenav__link {
  color: #ffffff !important;
}

.wave-border {
  position: absolute;
  display: block;
  width: 100%;
  bottom: -0.3rem;
  z-index: 100;
}

.info-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 110rem;
}

@media only screen and (max-width: 1240px) {
  .info-banner {
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .info-banner {
    display: block;
  }
}

@media only screen and (max-width: 1000px) {
  .info-banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.info-banner__text-box {
  margin-left: 9.6rem;
}

@media only screen and (max-width: 1000px) {
  .info-banner__text-box {
    max-width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1000px) {
  .info-banner__img {
    display: none;
  }
}

.info-banner__title {
  margin-bottom: 1.6rem;
  color: rgba(255, 255, 255, 0.95);
}

.info-banner__text {
  color: rgba(255, 255, 255, 0.95);
  margin-bottom: 3.2rem;
}

.voucher-list {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-columns: (minmax(35rem, 35rem))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 35rem));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 6.4rem;
  list-style: none;
}

@media only screen and (max-width: 1240px) {
  .voucher-list {
    width: 95%;
  }
}

.voucher-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.voucher {
  width: 35rem;
}

.voucher__card {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#01bfb0), to(#174079));
  background-image: linear-gradient(to bottom right, #01bfb0, #174079);
  width: 100%;
  height: 22rem;
  background-size: cover;
  border-radius: 1rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.6rem;
}

.voucher__icon {
  font-size: 12rem;
  color: #ffffff;
}

.voucher__credit {
  font-size: 3.6rem;
  font-weight: 700;
  color: #ffffff;
  position: absolute;
  line-height: 1;
  top: 1.2rem;
  right: 1.6rem;
}

.voucher__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.6rem;
}

.voucher__title {
  color: #292929;
  font-size: 1.8rem;
}

.voucher__price {
  color: #292929;
  font-weight: 700;
  font-size: 1.8rem;
}

.header {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#01bfb0), to(#174079));
  background-image: linear-gradient(to bottom right, #01bfb0, #174079);
  position: relative;
}

.header__container {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  text-align: center;
}

@media only screen and (max-width: 1240px) {
  .header__container {
    width: 95%;
  }
}

.header__title {
  color: rgba(255, 255, 255, 0.95);
  padding-top: 12.8rem;
  padding-bottom: 17.8rem;
}

.header--lg {
  height: 90vh;
  max-height: 90rem;
  min-height: 70rem;
  position: relative;
}

@media only screen and (max-width: 1000px) {
  .header--lg {
    background-image: -webkit-gradient(linear, left top, right bottom, from(#01bfb0), to(#174079));
    background-image: linear-gradient(to bottom right, #01bfb0, #174079);
  }
}

.header--lg__bg {
  width: 100%;
  position: absolute;
  height: 100%;
}

@media only screen and (max-width: 1000px) {
  .header--lg__bg {
    display: none;
  }
}

.header--lg__content {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: -3.2rem;
}

@media only screen and (max-width: 1240px) {
  .header--lg__content {
    width: 95%;
  }
}

@media only screen and (max-width: 1000px) {
  .header--lg__content {
    margin-top: 0;
  }
}

.header--lg__text-box {
  max-width: 44rem;
  position: relative;
}

@media only screen and (max-width: 1240px) {
  .header--lg__text-box {
    max-width: 40rem;
  }
}

@media only screen and (max-width: 1000px) {
  .header--lg__text-box {
    margin-top: -12rem;
  }
}

@media only screen and (max-width: 500px) {
  .header--lg__text-box {
    max-width: 80%;
  }
}

.header--lg__title {
  margin-bottom: 1.2rem;
}

@media only screen and (max-width: 1000px) {
  .header--lg__title {
    color: rgba(255, 255, 255, 0.95);
  }
}

.header--lg__text {
  line-height: 2;
  margin-bottom: 3.2rem;
}

@media only screen and (max-width: 1000px) {
  .header--lg__text {
    color: rgba(255, 255, 255, 0.95);
  }
}

.header--lg__illustration {
  position: absolute;
  width: 643px;
  height: 425px;
  right: -4rem;
}

@media only screen and (max-width: 1240px) {
  .header--lg__illustration {
    position: relative;
    right: 0;
    -webkit-transform: translateX(3rem);
            transform: translateX(3rem);
    width: 50vw;
  }
}

@media only screen and (max-width: 1000px) {
  .header--lg__illustration {
    display: none;
  }
}

.header--lg .wave-border {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .header--lg .wave-border {
    display: block;
  }
}

.nav {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 3.2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 1;
  position: relative;
  z-index: 200;
}

@media only screen and (max-width: 1240px) {
  .nav {
    width: 95%;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item--link {
  margin-right: 6.4rem;
}

@media only screen and (max-width: 1240px) {
  .nav__item--link {
    display: none;
  }
}

.nav__item--hamburger {
  display: none;
  visibility: none;
  cursor: pointer;
}

@media only screen and (max-width: 1240px) {
  .nav__item--hamburger {
    display: block;
    visibility: visible;
  }
}

@media only screen and (max-width: 1240px) {
  .nav__item--logo {
    display: none;
  }
}

.nav__item--basket {
  position: relative;
}

.nav__link:link,
.nav__link:visited {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.74);
  -webkit-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
  font-size: 1.4rem;
  font-weight: 600;
}

.nav__link:link:hover,
.nav__link:visited:hover {
  color: #ffffff;
  background-color: transparent;
}

.nav__link:link.active,
.nav__link:visited.active {
  color: #ffffff;
}

.nav__hamburger {
  padding: 0;
  height: unset !important;
  line-height: 1;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.nav__hamburger:hover {
  background-color: transparent;
}

.footer {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  margin-bottom: 1.6rem;
  border-top: 0.1rem solid #c2c2c2;
}

@media only screen and (max-width: 1240px) {
  .footer {
    width: 95%;
  }
}

.footer__nav {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: unset;
  padding-top: 1.2rem;
}

@media only screen and (max-width: 1000px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 3.2rem 0;
}

@media only screen and (max-width: 1000px) {
  .footer__list {
    max-width: 80%;
    margin: 0 auto;
    -webkit-transform: translateX(-0.7rem);
            transform: translateX(-0.7rem);
  }
}

@media only screen and (max-width: 700px) {
  .footer__list {
    max-width: 90%;
  }
}

.footer__item {
  padding: unset;
}

.footer__item:not(:last-child) {
  margin-right: 6.4rem !important;
}

@media only screen and (max-width: 700px) {
  .footer__item:not(:last-child) {
    margin-right: 4.8rem !important;
  }
}

.footer__link {
  display: block;
  color: #696969;
  padding: 0;
  line-height: 1;
  font-size: 1.4rem;
  -webkit-transition: 0.3s color ease-out;
  transition: 0.3s color ease-out;
  font-weight: 600;
}

.footer__link:hover {
  background: unset;
  color: #3e3e3e;
}

.footer__logo {
  fill: #01bfb0;
  margin-bottom: 1.6rem;
}

.footer__copyright {
  text-align: center;
}

.section {
  padding: 18rem 0;
  position: relative;
}

.section__border {
  position: absolute;
  width: 100%;
  bottom: -1px;
}

.section--features {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  max-width: 110rem;
}

@media only screen and (max-width: 1240px) {
  .section--features {
    width: 95%;
  }
}

.section--features .heading-2 {
  margin-bottom: 9.6rem;
}

.section--info {
  position: relative;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#01bfb0), to(#174079));
  background-image: linear-gradient(to bottom right, #01bfb0, #174079);
}

.section--cta {
  width: 100%;
  margin: 0 auto;
  max-width: 120rem;
  text-align: center;
}

@media only screen and (max-width: 1240px) {
  .section--cta {
    width: 95%;
  }
}

.section--cta .section__title {
  margin-bottom: 1.6rem;
}

.section--cta p {
  margin-bottom: 4.8rem;
}
/*# sourceMappingURL=main.css.map */