<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Vouchers</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="../assets/icons/favicon.ico"
      type="image/x-icon"
    />
    <!-- materialize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/6418af7e97.js"
      crossorigin="anonymous"
    ></script>
    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../assets/css/main.css" />
  </head>
  <body ng-app="app">
    <header class="header">
      <div
        ng-include="'../components/navigation.html'"
        onload="active = 'vouchers'"
      ></div>
      <div class="header__container">
        <h1 class="header__title heading-1">Vouchers</h1>
      </div>
      <img
        class="wave-border"
        src="../assets/images/wave-border.svg"
        aria-hidden="true"
      />
    </header>

    <div
      ng-include="'../components/sidenav.html'"
      onload="active = 'vouchers'"
    ></div>

    <main>
      <section class="section section--vouchers">
        <ul ng-controller="voucherCtrl" class="voucher-list">
          <li ng-repeat="voucher in vouchers" class="voucher-list__item">
            <div class="voucher">
              <div class="voucher__card">
                <i class="voucher__icon fab fa-apple"></i>
                <span class="voucher__credit">£{{ voucher.credit }}</span>
              </div>
              <div class="voucher__text-box">
                <h2 class="voucher__title">{{ voucher.title }}</h2>
                <span class="voucher__price">£{{ voucher.cost }}</span>
              </div>
              <button
                ng-click="addToBasket(voucher)"
                class="voucher__button button button--primary"
              >
                Add to Basket
              </button>
            </div>
          </li>
        </ul>
      </section>
    </main>

    <div ng-include="'../components/footer.html'"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="../assets/js/index.js" type="module"></script>
  </body>
</html>
