<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Search</title>
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="/assets/icons/favicon.ico"
      type="image/x-icon"
    />
    <!-- materialize -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- icons -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/assets/css/main.css" />
  </head>
  <body data-ng-app="app">
    <header class="header">
      <div data-ng-include="'/includes/navigation.html'"></div>
      <div class="header__container">
        <h1 class="header__title heading-1">Search</h1>
      </div>
      <img
        class="wave-border"
        src="/assets/images/wave-border.svg"
        aria-hidden="true"
        alt=""
      />
    </header>

    <div
      data-ng-include="'/includes/sidenav.html'"
      onload="active = 'search'"
    ></div>

    <main>
      <section data-ng-controller="searchCtrl" class="section section--search">
        <form data-ng-submit="search()">
          <div class="search-bar input-field">
            <input
              data-ng-model="searchTerm"
              type="text"
              id="search"
              class="search-bar__input"
            />
            <label for="search" class="search-bar__label">Search</label>
            <i
              data-ng-click="search()"
              role="button"
              class="search-bar__button material-icons prefix"
            >
              search
            </i>
          </div>
        </form>
        <div data-ng-show="!loading" class="section--search__results">
          <ul data-ng-if="results.length" class="media-list">
            <li
              data-ng-cloak
              data-dir-paginate="media in results | itemsPerPage: 8"
              class="media-list__item"
            >
              <div class="media">
                <img
                  data-ng-src="{{ media.artworkUrl100 }}"
                  src="/"
                  alt="{{ media.artistName }} - {{ media.trackName }}"
                  class="media__img"
                />
                <div class="media__text-box">
                  <h2 class="media__title heading-4">{{ media.trackName }}</h2>
                  <span class="media__price heading-4">
                    {{
                      (media.trackPrice >= 0 ? media.trackPrice : 0)
                        | currency: '£'
                    }}
                  </span>
                </div>
                <div class="media__text-box">
                  <p class="media__subtitle">{{ media.artistName }}</p>
                  <a
                    data-ng-href="{{ media.previewUrl }}"
                    href="/"
                    target="_blank"
                    class="media__link"
                    >Preview</a
                  >
                </div>
                <a
                  ng-href="{{ media.trackViewUrl }}"
                  target="_blank"
                  class="media__button button button--primary"
                >
                  Buy Now
                </a>
              </div>
            </li>
          </ul>
          <div data-ng-if="!results.length" class="message-box">
            <img
              src="/assets/images/illustrations/search.svg"
              alt="illustration of magnify glass"
              class="message-box__img"
            />
            <p data-ng-if="message" class="message-box__text">
              {{ message }}
            </p>
          </div>
          <div data-ng-cloak data-ng-if="results.length > 8" class="pagination">
            <dir-pagination-controls></dir-pagination-controls>
          </div>
        </div>
        <div data-ng-cloak data-ng-if="loading" class="loader"></div>
      </section>
    </main>

    <div data-ng-include="'/includes/footer.html'"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="/assets/js/index.js" type="module"></script>
  </body>
</html>
