.section--search {
  @include container('lg');
}

.media-list {
  width: 100%;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 25rem));
  grid-template-rows: auto;
  gap: $space-3xl;
  justify-content: center;
}
