.section--search {
  @include container('lg');
}

.section--search__results {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.media-list {
  width: 100%;
  display: grid;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 25rem));
  grid-template-rows: auto;
  gap: $space-3xl;
  justify-content: center;
  margin-bottom: $space-3xl;
}
