<div ng-controller="basketCtrl" class="basket">
  <ul class="basket__list">
    <li ng-repeat="item in basket" class="basket__item">
      <div class="basket-item">
        <i
          ng-click="removeItem(item.id)"
          class="basket-item__close material-icons"
          role="button"
          >close</i
        >
        <img
          class="basket-item__img"
          ng-src="../assets/images/shop/{{ item.id }}.png"
          alt="{{ item.title }}"
        />
        <div class="basket-item__info">
          <p class="basket-item__title">{{ item.title }}</p>
          <div class="basket-item__form">
            <span class="basket-item__quantity">{{ item.quantity }}</span>
            <span>&times;</span>
            <span class="basket-item__price">
              {{ item.price | currency: '£' }}
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <dl class="basket__total">
    <dt class="basket__total-title">Basket Subtotal:</dt>
    <dd class="basket__total-price">{{ getTotal() | currency: '£' }}</dd>
  </dl>
  <button class="button button--primary button--block">Checkout</button>
</div>
