.u-wave-border path {
  fill: #ffffff !important;
  opacity: 1;
  width: 100%;
  position: relative;
  z-index: 200;
}

.waves-effect.waves-primary .waves-ripple {
  background-color: $color-primary;
}
