@mixin container($maxWidth) {
  width: 100%;
  margin: 0 auto;

  @if $maxWidth==lg {
    max-width: 120rem;
  }

  @if $maxWidth==md {
    max-width: 110rem;
  }

  @if $maxWidth==sm {
    max-width: 100rem;
  }

  @media only screen and (max-width: 1240px) {
    width: 95%;
  }
}
